.am-porto-cmtb .page-wrapper > .page-header {
	z-index: 15 !important;
}

@media (min-width: 1280px) {
    .page-header.type23 .sw-megamenu.navigation li.level0 {
        flex: 0 0 12% !important;
        max-width: 12% !important;
    }
}

@media (min-width: 768px) {
    .page-header.type23 .navigation .level0 > .level-top {
        padding: 12px 15px 15px !important;
    }
}

.swiper-button-next, .swiper-button-prev{
	height: 22px !important;
}

.footer-middle{
	/*padding: 44px 0 0 !important;*/
    padding: 20px 0 0 !important;
}
.footer-middle > .container:after {
    margin-top: 12px !important;
}

.actions-secondary-owl{
    background-color: #ddd;
}
.actions-secondary-owl:hover{
    background-color: #ffffff;
}

.custom-pages-style h2{
    font-weight: bold !important;
}
.custom-pages-style p{
    line-height: 22px;
    text-align: justify;
}

.custom-pages-style ul{
    line-height: 22px;
    text-align: justify;
}
.footer-bottom {
    min-height: auto !important;
    padding: 0px !important;
}
.product-item-photo .product-item-inner {
    z-index: 0 !important;
}
.product-item .product-item-info img.product-image-photo {
    max-width: 232px !important;
    max-height: 232px !important;
}
.footer-top .col-lg-12 {
    margin-top: 20px;
}

.stock.unavailable{
    color: red !important;
    padding-left: 10px;
}
#layer-product-list .product-image-photo.default_image{
    z-index: -1 !important;
}
.col-md-7.block .footer-middle ul.links li a {
    margin-left: 5px;
}
.footer-middle.footer-middle-2 .col-lg-12 {
    margin-bottom: -25px;
}
.product-info-main .prev-next-products ~ .page-title-wrapper h1 {
    line-height: 40px;
}
.product-info-main .stock.available, .product-info-main .stock.unavailable, .product-info-main .product.sku {
    line-height: 27px;
}
.special-price.custom-text:before{
    /*font-weight: bold;*/
    /*color: #403f3f;*/
    content: "Now Only";
    margin-top: 2px;
    font-size: 20px;
    margin-right: 10px;
    color: #F70046;
}
.toolbar-amount {
    display: block !important;
    padding-top: 13px;
    padding-right: 5px;
}
.special-price.custom-text:before{
    display: none;
}
.footer-middle .block-content li span {
    margin-right: 5px;
}

.custom-block a.theme-color {
    display: none;
}
/*.special-price {
    display: flex !important;
}*/
.product-info-price .price-box .price-container span.price {
    font-size: 20px;
    font-weight: normal;
    color: #F70046;
}
.price-box.price-final_price {
    display: inline-block;
}
.product-info-main .product-info-price .price-box .price-final_price>span{
    margin-left: 2px;
    margin-top: -2px;
}
.catalog-category-view span.special-price.custom-text:before {
    content: "Now Only";
    margin-top: 2px;
    font-size: 15px;
    margin-right: 10px;
    color: #F70046;
    display: contents;
}
.catalog-category-view .price-box .price {
    font-size: 15px !important;
    margin-left: 5px;
    line-height: 1.7 !important;
}
.catalog-product-view span.special-price.custom-text:before {
    content: "Now Only";
    margin-top: 2px;
    font-size: 17px;
    margin-right: 10px;
    color: #F70046;
    display: contents;
}
.catalog-product-view .price-box .price {
    font-size: 17px !important;
    margin-left: 5px;
    line-height: 1.7 !important;
}
.home-slider .container {
    width: 100%;
    max-width: 100% !important;
    padding: 0px !important;
}
.checkout-cart-index header.page-header.type23 {
    z-index: 55 !important;
}
.page-header.type23 .search-category{
    display: block !important;
}
#banner-slider-demo-27 .owl-carousel .owl-item img {
    width: 1284px !important;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]{
    margin: 40px !important;
}
#amasty-main-container{
    width: 100% !important;
}
.product.name.product-item-name{
    padding: 0 20px;
}
.actions-primary{
    padding-left: 5px;
}
/*.amstockstatus{
    display: none !important;
}*/
.block.category.event, .footer.content, .header.content, .navigation, .page-header .header.panel, .page-main, .page-wrapper>.breadcrumbs, .page-wrapper>.page-bottom, .page-wrapper>.widget, .top-container{
    max-width: none !important;
    padding-left: 20px !important;
    padding-right: 20px !important
}
.products-morefrom .item.product.product-item{
    width: 25% !important;
}
.amsearch-wrapper-input.amsearch-left-position{
 width: 100% !important;
}
.search-autocomplete.amsearch-left-position.amsearch-clone-position{
    width: 100% !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
}
.products-grid.wishlist .product-image-wrapper{
    padding-bottom: 90% !important;
}

/*backend code add */
.amsearch-form-container.-large .amsearch-wrapper-content .tocart{
    padding: 0 5px !important;
}

#popular_product .product.photo.product-item-photo{
    min-height: 232px !important;
    align-items: center;
    justify-content: center;
    display: flex;
}
#popular_product .product.photo.product-item-photo a{
width:100%;
}
#layer-product-list .product.photo.product-item-photo{
    min-height: 232px !important;
    align-items: center;
    justify-content: center;
    display: flex;
}
#layer-product-list .product.photo.product-item-photo a{
width:100%;
}
.products-grid.wishlist .product-image-wrapper{
    padding-bottom: 90% !important;
}

.products-grid.wishlist .product-item .box-tocart .stock{
margin: 16px 0 0 !important;
}

.products-grid.wishlist .product-item-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-info-main .page-title-wrapper h1{
line-height: 1.5 !important;
}
.products-grid.products.grid.flex-grid .product-item-details .product-item-actions .actions-secondary.tocompare, .products-grid.divider-line .product-item-details .product-item-actions .actions-secondary.tocompare{
    margin-left: 2px !important;
}