.am-porto-cmtb .page-wrapper > .page-header {
	z-index: 8000 !important;
}

@media (min-width: 1280px) {
    .page-header.type23 .sw-megamenu.navigation li.level0 {
        flex: 0 0 12% !important;
        max-width: 12% !important;
    }
}

@media (min-width: 768px) {
    .page-header.type23 .navigation .level0 > .level-top {
        padding: 12px 15px 15px !important;
    }
}

.swiper-button-next, .swiper-button-prev{
	height: 22px !important;
}

.footer-middle{
	/*padding: 44px 0 0 !important;*/
    padding: 20px 0 0 !important;
}
.footer-middle > .container:after {
    margin-top: 12px !important;
}

.actions-secondary-owl{
    background-color: #ddd;
}
.actions-secondary-owl:hover{
    background-color: #ffffff;
}

.custom-pages-style h2{
    font-weight: bold !important;
}
.custom-pages-style p{
    line-height: 22px;
    text-align: justify;
}

.custom-pages-style ul{
    line-height: 22px;
    text-align: justify;
}
.footer-bottom {
    min-height: auto !important;
    padding: 0px !important;
}
.product-item-photo .product-item-inner {
    z-index: 0 !important;
}
.product-item .product-item-info img.product-image-photo {
    max-width: 232px !important;
    max-height: 232px !important;
}
.footer-top .col-lg-12 {
    margin-top: 20px;
}

.stock.unavailable{
    color: red !important;
}
#layer-product-list .product-image-photo.default_image{
    z-index: -1 !important;
}

/*Mahalakshmi add css code*/
/* div#amasty-main-container {
    max-width: 250px !important;
    max-height: 300px !important;
} */
.col-md-7.block .footer-middle ul.links li a {
    margin-left: 5px;
}
.footer-middle.footer-middle-2 .col-lg-12 {
    margin-bottom: -25px;
}
.product-info-main .prev-next-products ~ .page-title-wrapper h1 {
    line-height: 40px;
}
.product-info-main .stock.available, .product-info-main .stock.unavailable, .product-info-main .product.sku {
    line-height: 27px;
}
/*.gallery-placeholder #amasty-main-container #amasty-main-image {
    max-width: 300px !important;
    max-height: 300px !important;
}
.special-price.custom-text:before{
    font-weight: bold;
    color: #403f3f;
    content: "Now Only";
    margin: 10px 10px;
}
.sections.nav-sections {
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 5px;
} */

.special-price.custom-text:before{
    /*font-weight: bold;*/
    /*color: #403f3f;*/
    content: "Now Only";
    margin-top: 2px;
    font-size: 20px;
    margin-right: 10px;
    color: #F70046;
}
.toolbar-amount {
    display: block !important;
    padding-top: 10px;
}
.special-price.custom-text:before{
    display: none;
}
.footer-middle .block-content li span {
    margin-right: 5px;
}

.custom-block a.theme-color {
    display: none;
}
.special-price {
    display: flex !important;
}
.product-info-price .price-box .price-container span.price {
    font-size: 20px;
    font-weight: normal;
    color: #F70046;
}
.price-box.price-final_price {
    display: inline-block;
}
.product-info-main .product-info-price .price-box .price-final_price>span{
    margin-left: 2px;
    margin-top: -2px;
}
.catalog-category-view span.special-price.custom-text:before {
    content: "Now Only";
    margin-top: 2px;
    font-size: 15px;
    margin-right: 10px;
    color: #F70046;
    display: contents;
}
.catalog-category-view .price-box .price {
    font-size: 15px !important;
    margin-left: 5px;
    line-height: 1.7 !important;
}
.catalog-product-view span.special-price.custom-text:before {
    content: "Now Only";
    margin-top: 2px;
    font-size: 17px;
    margin-right: 10px;
    color: #F70046;
    display: contents;
}
.catalog-product-view .price-box .price {
    font-size: 17px !important;
    margin-left: 5px;
    line-height: 1.7 !important;
}
.page-layout-1column .product.media{
    margin-top: -170px;
}
.home-slider .container {
    width: 100%;
    max-width: 100% !important;
    padding: 0px !important;
}
.checkout-cart-index header.page-header.type23 {
    z-index: 55 !important;
}
.page-header.type23 .search-category{
    display: block !important;
}
#banner-slider-demo-27 .owl-carousel .owl-item img {
    width: 1284px !important;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]{
    margin: 40px !important;
}