.grouped.products-detail-grouped .col.item {
    width: 45%;
}
.grouped.products-detail-grouped .col.qty {
    width: 20%;
    min-width: 95px;
}
.grouped.products-detail-grouped .col.price{
    width:20%; 
}
.product-qty-action {
    display: flex;
}
.grouped.products-detail-grouped .col.image{
    width: 100px;
    display: block;
}