<?xml version="1.0"?>
<!-- 
/**
 * Webkul Software
 *
 * @category  Webkul
 * @package   Webkul_ProductTableAttribute
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="webkul" translate="label" sortOrder="10">
            <label>Webkul</label>
        </tab>
        <section id="producttableattribute" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Product Table Atribute</label>
            <tab>webkul</tab>
            <resource>Webkul_ProductTableAttribute::config_producttableattribute</resource>
            <group id="general_settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="attribute" translate="label comment" sortOrder="1" type="select" showInDefault="1" >
                    <label>Attribute Set ID</label>
                    <source_model>Magento\Catalog\Model\Product\AttributeSet\Options</source_model>
                </field>
            </group>
        </section>
    </system>
</config>